<% include partials/header %>

        <h1>Campgrounds</h1>

        <a href="/campgrounds/new" class="btn">Add new campground</a>
        <% campgrounds.forEach(function(campground) { %>
            <div>
                <h3><%= campground.name %></h3>
                <img src="<%= campground.image %>">
            </div>
        <% }) %>

<% include partials/footer %>
