<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yelpcamp Campgrounds</title>
    </head>
    <body>
        <h1>Campgrounds</h1>
        <%= campgrounds %>
    </body>
</html>
