<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
    </head>
    <body>
        <div id="landing">
            <h1>Welcome to YelpCamp</h1>
            <a href="/campgrounds" class="btn btn-lg btn-success">View Campgrounds</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>
