<% include partials/header %>

    <h1>Add A New Campground</h1>
    <a href="/campgrounds" class="btn">Go back</a>
    <form action="/campgrounds" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="text" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Campground</button>
    </form>

<% include partials/footer %>
