<% include ../partials/header %>

        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1>YelpCamp</h1>
                    <p>Where you can find the finest campgrounds in the world</p>
                    <a href="/campgrounds/new" class="btn btn-primary">Add new campground</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <% campgrounds.forEach(function(campground) { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail text-center">
                            <img src="<%= campground.image %>">
                            <div class="caption">
                                <h4><%= campground.name %></h4>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

<% include ../partials/footer %>
