<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Add New Campground</h1>
                <form action="/campgrounds" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Campground Name">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" name="image" class="form-control" placeholder="Image Url">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" name="price" class="form-control" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label>Capacity</label>
                        <input type="text" name="capacity" class="form-control" placeholder="Campground Capacity">
                    </div>
                    <div class="form-group">
                        <label>Instructors</label>
                        <input type="text" name="instructors" class="form-control" placeholder="Number of Instructors">
                    </div>
                    <div class="form-group">
                        <label>Activities</label>
                        <span>Please seperate activities with a coma</span>
                        <input type="text" name="activities" class="form-control" placeholder="List All Activities">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" name="website" class="form-control" placeholder="Website Link">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" name="description" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Campground</button>
                </form>
                <br>
                <a href="/campgrounds">Go back</a>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
